<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>VV2CAL</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="static/css/Newsletter-Subscription-Form.css">
    <link rel="stylesheet" href="static/css/styles.css">
</head>

<body>
    <div class="d-flex justify-content-center">
        <h1>Vorlesungen in deinen Kalendar</h1>
    </div>
    <div class="newsletter-subscribe">
        <div class="container">
            <div class="intro">
                <h2 class="text-center">Gib mir deine Kursnummern</h2>
                <p class="text-center">Hier kannst du deine Kursnummern eintippen (bitte mit leertasten trennen). Du
                    bekommst die Kursnummern entweder im Campus Management unter Stundenplan aus der ersten Spalte oder
                    im Vorlesungsverzeichnis</p>
            </div>
            <form class="form-inline" method="post">
                <div class="form-group"><input class="form-control" name="course" placeholder="1234 2313 1235"></div>
                <div class="form-group"><button class="btn btn-primary" type="submit">zum Kalender hinzufügen</button>
                </div>
            </form>
        </div>
    </div>
    <div class="container d-flex justify-content-center">
        <div>

            <h5 id="faq">FAQ</h5>
            <h6 id="welche-unis-werden-unterstützt">Welche UNIs werden unterstützt?</h6>
            <p>Im Moment wird nur die FU-Berlin unterstützt.</p>
            <h6 id="wie-importiere-ich-die-termine-in-meinen-kalendar">Wie importiere ich die Termine in meinen
                Kalendar?</h6>
            <p>Nach dem du die Kursnummern eingetippt hast, lädt eine .ics datei herrunter.</p>
            <p>Um diese nun zu importieren, kannst du dir die Anleitung für deinen Kalendar anschauen:</p>
            <p><a href="https://support.google.com/calendar/answer/37118">Google Kalendar</a></p>
            <p><a href="https://support.apple.com/de-de/guide/calendar/icl1023/mac">Apple Kalender (MAC)</a></p>
            <p><a
                    href="https://support.microsoft.com/de-de/office/importieren-oder-abonnieren-eines-kalenders-in-outlook-com-cff1429c-5af6-41ec-a5b4-74f2c278e98c">Microsoft
                    Outlook</a></p>
            <h6 id="ich-habe-probleme-mit-der-seite-oder-anmerkungen.-an-wen-melde-ich-micht">Ich habe Probleme mit der
                Seite oder Anmerkungen. An wen wende ich mich?</h6>
            <p>Schicke mir einfach eine Email an <a href="mailto:soeren.michaels@fu-berlin.de"
                    class="email">soeren.michaels@fu-berlin.de</a>.</p>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
</body>

</html>