<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>VV2CAL</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="static/css/Newsletter-Subscription-Form.css">
    <link rel="stylesheet" href="static/css/styles.css">
</head>

<body>
    <div class="newsletter-subscribe">
        <div class="container">
            <div class="intro">
                <h2 class="text-center">Gib mir deine Kursnummern</h2>
                <p class="text-center">und trenne sie bitte mit der Leertaste</p>
            </div>
            <form class="form-inline" method="post">
                <div class="form-group"><input class="form-control" name="course" placeholder="1234 2313 1235"></div>
                <div class="form-group"><button class="btn btn-primary" type="submit">zum Kalender hinzufügen</button>
                </div>
            </form>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
</body>

</html>